body {
  background: url("./img/bg.jpg")
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../lbd/fonts/glyphicons-halflings-regular.eot");
  src: url("../lbd/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../lbd/fonts/glyphicons-halflings-regular.woff") format("woff"), url("../lbd/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../lbd/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg");
}
